.wrapper {
  position: relative;
  width: 16rem;
}

.wrapper input {
  width: 100%;
  border: 1px solid #d1d5db;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.dropdown {
 padding: 0;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 50;
  width: 100%;
  max-height: 13rem;
  overflow-y: auto;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.dropdown li {
  padding: 0.5rem; 
  cursor: pointer;
  white-space: nowrap;
  list-style: none;
}

.dropdown li:hover {
  background-color: #e5e7eb;
}